*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
Android/.DS_Store
Android/build
Android/.idea
/captures
.externalNativeBuild
.cxx
local.properties
go.sum
.env
